{% extends 'base.html' %}
{% block title %}
Корзина
{% endblock title %}
{% block header_down %}
<div class='header-title'>
    Корзина
    <div class='header-subtitle'></div>
</div>
{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />

<style>
    .inner_content {
        margin-top: 20px;
    }
    .container {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;
    }
    .table th, .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
    .table tbody + tbody {
        border-top: 2px solid #dee2e6;
    }
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .tittle {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .quantity-controls {
        display: flex;
        align-items: center;
    }
    .quantity-button {
        padding: 5px 10px;
        margin: 0 5px;
        cursor: pointer;
    }
    .order-button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div class="inner_content">
    <div class="container">
        <div class="tittle_head">
            <h3 class="tittle">
                <span>Ваша корзина</span>
            </h3>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Блюдо</th>
                        <th>Количество</th>
                        <th>Цена (₽)</th>
                        <th>Сумма (₽)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.get('name') }}</td>
                        <td>
                            <div class="quantity-controls">
                                <button class="quantity-button" onclick="updateQuantity('{{ item.food }}', -1)">-</button>
                                {{ item.get('count') }}
                                <button class="quantity-button" onclick="updateQuantity('{{ item.food }}', 1)">+</button>
                            </div>
                        </td>
                        <td>{{ "%.2f"|format(item.get('price', 0)) }}</td>
                        <td>{{ "%.2f"|format(item.get('price', 0) * item.get('count', 1)) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <label for="table-number">Номер стола:</label>
                <input type="number" id="table-number" name="table_number" required min="1" max="100" style="margin-bottom: 20px;">
            </div>
            <button class="order-button" onclick="placeOrder()">Заказать</button>
        </div>
    </div>
</div>

<script>
    function updateQuantity(itemId, change) {
        fetch('/update-quantity', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({itemId: itemId, change: change})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();  // Перезагрузить страницу для обновления данных
            } else {
                alert('Не удалось обновить количество: ' + data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    }
    
    function placeOrder() {
        const tableNumber = document.getElementById('table-number').value;
        if (!tableNumber) {
            alert('Пожалуйста, введите номер стола.');
            return;
        }
        fetch('/place-order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({table_number: tableNumber})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Заказ оформлен');
                window.location.reload();
            } else {
                alert('Не удалось оформить заказ: ' + data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    }
    
</script>
{% endblock content %}
