{% extends 'base.html' %}

{% block title %}
    Наше Меню
{% endblock title %}

{% block content %}
<div class='dishes'>
    <div class='container'>
        <div class='dishes-title'>
            Наши <span>Блюда</span>
        </div>
        <div class='burgers'>
            <div class='burgers-image'>
                <img src='{{ url_for('static', filename='img/pizza.jpg') }}' class='pizza'>
            </div>
            <div class='burgers-items'>
                {% for dish in dishes %}
                <div class='burger-item'>
                    <img src="{{ url_for('static', filename=dish.image) }}" class=''>
                    <div class='burger-text'>{{ dish.name }} -------------- {{ dish.price }} ₽</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class='menu'>
    <div class='container'>
        <div class='menu-title'>Наше меню</div>
        <div class='menu-items'>
            {% for menu_item in menu_items %}
            <div class='menu-item'>
                <div class='menu-image'>
                    <img src="{{ url_for('static', filename=menu_item.image) }}" class='menu-img'>
                </div>
                <div class='menu-text'>{{ menu_item.name }}</div>
                <div class='menu-price'>{{ menu_item.price }} ₽ - {{ menu_item.rate }} rate</div>
                <div class='menu-subtext'>
                    {{ menu_item.description | safe }}
                </div>
                <div class='menu-button'>
                    <a href='#' class='menu-btn'>Добавить</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class='cook'>
    <div class='container'>
        <div class='cook-title'>
            Наши <span>Повара</span>
        </div>
        <div class='cook-content'>
            <img src="{{ url_for('static', filename='img/1c.jpg') }}" alt=" ">
            <img src="{{ url_for('static', filename='img/2c.jpg') }}" alt=" ">
            <img src="{{ url_for('static', filename='img/3c.jpg') }}" alt=" ">
        </div>
    </div>
</div>
{% endblock content %}
