{% extends 'base.html' %}
{% block title %}Заказы{% endblock %}
{% block header_down %}
<div class='header-title'>
    Заказы
    <div class='header-subtitle'></div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    {% if current_user and current_user.is_authenticated%}
        {% if current_user.role != 'customer' %}
        <h1>Все заказы</h1>
        {% endif%}
    {%else%}
    <h1>Ваши заказы</h1>
    {%endif%}
    
    {% for order_id, order in orders.items() %}
    <div onclick="toggleDetails('details-{{ order_id }}')">
        <h2>Заказ №{{ order_id }}</h2>
        <p>Время: {{ order['time'] }}</p>
        <p>Сумма: {{ order['summa'] }}</p>
    </div>
    <div id="details-{{ order_id }}" style="display:none;">
        {% for item in order['items'] %}
        <p>{{ item['food'] }} - {{ item['count'] }} шт. - {{ item['summ'] }}₽</p>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<script>
function toggleDetails(id) {
    var element = document.getElementById(id);
    element.style.display = element.style.display === 'none' ? 'block' : 'none';
}
</script>
{% endblock %}
