{% extends 'base.html' %}
{% block title %}Заказы{% endblock %}
{% block header_down %}
<div class='header-title'>Заказы</div>
{% endblock %}
{% block content %}
<div class="container">
    <h1>{% if current_user.role == 'admin' or current_user.role == 'staff' %}Все заказы{% else %}Ваши заказы{% endif %}</h1>
    <div>
        <label for="statusFilter">Фильтр по статусу:</label>
        <select id="statusFilter" onchange="filterOrdersByStatus()">
            <option value="">Все статусы</option>
            {% for status in statuses %}
            <option value="{{ status.status }}">{{ status.status }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="ordersContainer">
        {% for order_id, order in orders.items() %}
        <div class="order" data-status="{{ order['status'] }}">
            <div onclick="toggleDetails('details-{{ order_id }}')">
                <h2>Заказ №{{ order_id }}</h2>
                <p>Время: {{ order['time'] }}</p>
                <p>Сумма: {{ order['summa'] }}₽</p>
                <p>Пользователь: {{ order['user_email'] }}</p>
                <p>Статус: {{ order['status'] }}</p>
            </div>
            <div id="details-{{ order_id }}" style="display:none;">
                {% for item in order['items'] %}
                <p>{{ item['food_name'] }} - {{ item['count'] }} шт. - {{ item['summ'] }}₽</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
function toggleDetails(id) {
    var element = document.getElementById(id);
    element.style.display = element.style.display === 'none' ? 'block' : 'none';
}

function filterOrdersByStatus() {
    var selectedStatus = document.getElementById('statusFilter').value;
    var orders = document.querySelectorAll('.order');

    orders.forEach(order => {
        if (selectedStatus === '' || order.getAttribute('data-status') === selectedStatus) {
            order.style.display = '';
        } else {
            order.style.display = 'none';
        }
    });
}
</script>
{% endblock %}
