{% extends 'base.html' %}
{% block title %}{% endblock title%}
{% block header_down %}
<div class='header-title'>
    Ваш профиль
    <div class='header-subtitle'></div>
</div>
{% endblock %}
{% block content %}
    <!--/inner_banner-->
    <div class="inner_banner"></div>
    <!--//inner_banner-->
    <!-- /inner_content -->
    <div class="banner_bottom">
        <div class="container">
            <div class="tittle_head">
                <h3 class="tittle">
                    <span>Профиль
            </div>
            <div class="mail_form">
                <div class="inner_sec_info_wthree_agile">
                    <div class="profile_info">
                        <p><strong>Email:</strong> {{ current_user.email }}</p>
                        <p><strong>Фамилия:</strong> {{ current_user.lastname }}</p>
                        <p><strong>Имя:</strong> {{ current_user.firstname }}</p>
                        <p><strong>Роль:</strong> {{ current_user.role }}</p>
                        <p><strong>Последняя активность:</strong> {{ current_user.last_activity }}</p>
                        <p><strong><a href="{{ url_for('change_password')}}">Изменить пароль</a></strong></p>
                    </div>
                </div>
            </div>
            <div class="tittle_head">
                <h3 class="tittle">
                    <span>Мои заказы</span>
                </h3>
            </div>
            <div class="mail_form">
                <div class="mail_form">
                    <div class="inner_sec_info_wthree_agile">
                        {% for order in orders %}
                        <div class="profile_info">
                           {{order}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}